In [2]:
# Example 2: Indexing
a = "Hello, World!"
print(a[1])

e

In [17]:
a = "Hello, World!"
print(a)

Hello, World!

In [4]:
# Example 3: Slicing
b = "Hello World!"
print(b[2:5])

llo

In [5]:
# Example 4: Length, Upper, Lower, Replace
a = "Hello, World!"
print(len(a))
print(a.upper())
print(a.lower())
print(a.replace("H", "J"))

13
HELLO, WORLD!
hello, world!
Jello, World!

In [6]:
# Example 5: Concatenation
a = "Hello"
b = "World"
c = a + "" + b
print(c)

HelloWorld

In [11]:
# Example 6: Splitting and List
my_string = 'one two three four'
word_list = my_string.split()
word_list

['one', 'two', 'three', 'four']

In [12]:
# Example 7: Splitting with a Separator
my_string = '1/2/3/4/5'
number_list = my_string.split('/')
number_list

['1', '2', '3', '4', '5']

In [14]:
# Example 8: Splitting Tokens
str = 'peach raspberry strawberry vanilla'
tokens = str.split()
tokens

['peach', 'raspberry', 'strawberry', 'vanilla']

In [15]:
# Example 9: Splitting URL
my_address = 'www.example.com'
tokens = my_address.split('.')
tokens

['www', 'example', 'com']